services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lifespan
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
